<% include ../partials/header %>
    <div class="row">
        <div class="login-form">
            <h2>Kommentar</h2>
            <form action="/playgrounds/<%= playground._id %>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" placeholder="Text">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Bestätigen!</button>
                </div>
            </form>
            <a href="/playgrounds">Go Back</a>
        </div>
    </div>
<% include ../partials/footer %>