<% include ./partials/header %>
<div class="row">
	<div class="col-md-12">
		<form action="/reset/<%= token %>" method="POST">
		  <legend>Passwort zurücksetzen</legend>
		  <div class="form-group">
		    <label for="password">Neues Passwort</label>
		    <input type="password" name="password" value="" placeholder="Neues Passwort" autofocus="autofocus" class="form-control"/>
		  </div>
		  <div class="form-group">
		    <label for="confirm">Passwort bestätigen</label>
		    <input type="password" name="confirm" value="" placeholder="Passwort wiederholen" class="form-control"/>
		  </div>
		  <div class="form-group">
		    <button type="submit" class="btn btn-primary">Passwort aktualisieren</button>
		  </div>
		</form>
	</div>
</div>
<% include ./partials/footer %>