
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

.form-forgot button{
  width: 100%;
  max-width: 330px;
  margin: 0 auto;
  padding: 0;
}

/*anmelden*/
.login-form {
    width: 30%; 
    margin: 25px auto;
}

.login-form h2{
    text-align: center;
}

.checked {
    color: orange;
}

.jumbotron {
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

@media only screen and (max-width: 768px) {
    .jumbotron {
        background-image: url(../images/jt-grossesL-transparent5.png);
    }
}

@media only screen and (min-width: 768px) {
    .jumbotron {
        background-image: url(../images/jt-grossesL-transparent4.png);
    }
}

@media only screen and (min-width: 992px) {
    .jumbotron {
        background-image: url(../images/jt-grossesL-transparent3.png);
    }
}

@media only screen and (min-width: 1200px) {
    .jumbotron {
        background-image: url(../images/jt-grossesL-transparent3.png);
    }
}